<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-image">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienvenidos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-fab vertical="bottom" horizontal="center" adge slot="fixed">
      <ion-fab-button>
        <ion-icon name="share"></ion-icon>
      </ion-fab-button>

      <ion-fab-list side="top">
        <ion-fab-button><ion-icon name="document-text-outline"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon name="mail-open"></ion-icon></ion-fab-button>
        <ion-fab-button
        onclick="window.open('https://controlescolar.uaemex.mx/dce/sicde/publico/alumnos/indexLogin.html','system','location=yes')"
        ><ion-icon name="link"></ion-icon></ion-fab-button>
        <ion-fab-button (click)="presentAlert()"><ion-icon name="alert"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> 
  es un selector de directiva llamandola desde cualquier componente de esta forma . -->
</ion-content>
